<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="Main">
	<f:flashMessages/>

	<f:form action="addUri" class="form--layout-0">
		<div class="form-item">
			<label class="form-label">Site</label>
			<f:form.select options="{sites}" name="site" class="form-field" />
		</div>

		<div class="form-item">
			<label class="form-label">Uri</label>
			<f:form.textfield name="uri" class="form-field" />
		</div>

		<div class="form-action">
			<button type="submit" class="button">Eintragen</button>
		</div>
	</f:form>

	<hr>

	<f:form action="processQueue" class="form--layout-0">
		<div class="form-item">
			<label class="form-label">Site</label>
			<f:form.select options="{sites}" name="site" class="form-field" />
		</div>

		<div class="form-action">
			<button type="submit" class="button">Queue verarbeiten</button>
		</div>
	</f:form>

	<hr>

	<f:form action="readSitemapXml" class="form--layout-0">
		<div class="form-item">
			<label class="form-label">Site</label>
			<f:form.select options="{sites}" name="site" class="form-field" />
		</div>

		<div class="form-item">
			<label class="form-label">Sitemap</label>
			<f:form.textfield name="sitemap" class="form-field" />
		</div>

		<div class="form-action">
			<button type="submit" class="button">Einlesen</button>
		</div>
	</f:form>

</f:section>
</html>